/* Style overrides here */
._VolumeInlineRSWP {
  display: none !important;
}

._VolumeRSWP {
  display: none !important;
}

.radio-panel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.radio-panel {
  /* flex-grow: 1;  */
}

body,
html {
  background-color: #212529;
}
