.controlButton {
  color: white;
  font-size: 16px; /* smaller font-size for iPhone display */
  font-weight: bold;
  width: 1.5em;
  height: 1.5em;
}

/* Default order for mobile views */
.order-row-1 {
  order: 2;
}
.order-row-2 {
  order: 3;
}
.order-row-3 {
  order: 1;
}
.order-row-4 {
  order: 4;
}
.order-row-5 {
  order: 5;
}

/* Change order for larger screens */
@media (min-width: 369px) {
  .order-row-1 {
    order: 1;
  }
  .order-row-2 {
    order: 2;
  } /* Example of changing the order */
  .order-row-3 {
    order: 3;
  } /* Example of changing the order */
  .order-row-4 {
    order: 4;
  }
  .order-row-5 {
    order: 5;
  }
}
